
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 35vh;
  width: 70%;
  background-color: rgb(44, 44, 141);
  border-radius: 3px;
  box-shadow: 3px 3px 6px 1px rgb(80, 80, 124);
}
#number {
  text-align: center;
  margin-top: 40px;
  color: white;
  font-family: 'Yeseva One', cursive;
  font-size: 50px;
}
.btns {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  flex-wrap: wrap;
}
.btn {
  height: 40px;
  width: 150px;
  box-shadow: 2px 0px 5px black;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Ysabeau Office', sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 3px;
}
#plus {
  background-color: pink;
}
#plus:hover {
  background-color: rgb(219, 164, 174);
}
#minus {
  background-color: rgb(242, 236, 158);
}
#minus:hover {
  background-color: rgb(209, 199, 101);
}
#reset {
  background-color: rgb(161, 217, 166);
}
#reset:hover {
  background-color: rgb(130, 226, 138);
}